# Ignore Visual Studio temporary files, build results, and user-specific configurations
[DdD]ebug/
[Rr]elease/
x64/
x86/
temp/
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/

# Ignore database files
*.db

# Ignore NuGet packages
packages/
*.nupkg
*.snupkg

# Ignore build output and temporary files
*.cache
*.log
*.tmp

# Ignore editor backup and temporary files
*.bak
*.tmp

# Ignore Visual Studio Code files
.vscode/

# Ignore Entity Framework files
*.edmx